# Server Configuration
PORT=7860
WORKER_COUNT=1

# External APIs
TMDB_API_KEY=your_tmdb_api_key_here

# Proxy and Debug Routes
ENABLE_DEBUG_ROUTE=false
PROXY_STREAMS=false
PROXY_URL=

# Telemetry (Optional)
GA_MEASUREMENT_ID=
GA_API_SECRET=
